# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
**/node_modules/

.env
dist
coverage
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.swp
*.swo
.idea/
.vscode/
*.test.db
*.local
*.bak
tmp/
.env.*
*.tgz
*.pid
*.seed
*.sqlite
*.iml
*.sublime-workspace
*.sublime-project
*.history
*.cache
*.nyc
inMind.md
inMind.pdf
prompt.txt
disaster-relief-app
images